- scribing_answer = f.object.answer
- scribing_question = scribing_answer.question.actable

div#scribing-answer data={ scribing_question_id: scribing_question.id, scribing_answer_id: scribing_answer.id }
